a:hover {
  color:green
}


html,body { 
    display: flex;
    flex-direction:column;
    
      background: no-repeat center/80% url("http://img.netbian.com/file/2020/0712/496de8cd9a4a466befc8f8afb481b8ff.jpg");
}

header{display: flex;background-image:url('https://z3.ax1x.com/2021/07/04/RWAKk4.png');
       background-position:center;
       background-size: cover;
       justify-content：flex-start;
        border: 2px solid black;}

main {
    display: flex;
    flex: auto ;
    flex-direction:row;
}

aside {
  flex:1 ;
    flex-direction:row;
}

article {
  flex:3;
    flex-direction:row;
}


